:root {
  /* https://visme.co/blog/website-color-schemes/ #27 color scheme*/
  --darkgreen: #61892f;
  --lightergreen: #86c232;
  --dark: #222629;
  --grey: #474b4f;
  --light: #6b6e70;
   /* extra*/
  --white: #fff;
}


* {
    box-sizing: border-box;
    background-color: var(--dark);
    color: var(--darkgreen);
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  /*--------------- Header------------------ */
  header  {
    height: 50px;
    color: var(--darkgreen);
  }
  header img{
    float: left;
    height: 200px;
    width:  250px;
  }
  header .nav_bar a{
    float: right;
    margin-left: 0%;
    margin-right: 8%;
    margin-top:6%;
    margin-bottom: 0%;
    background: #13293d;
    color: var(--darkgreen);
  }
  

  /*----------------Header---------------------*/
  /*----------------Main---------------------*/
  main {
    display: flexbox;
    flex-wrap: wrap;
    padding: 15%;
  }
  /*----------------Main---------------------*/
  
  /*----------------Left Sidebard---------------------*/
  .left_sidebar aside {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 300px;
    left: 30px;
    padding-top: 100px;
  }

  .left_sidebar aside ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 500px;
    margin: 0px auto;
    background-color: var(--lightergreen);
  }
  /*----------------Left Sidebar---------------------*/
  /*----------------Right Sidebard---------------------*/
  .right_sidebar aside {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 5px;
    right: 30px;
    padding-top: 0px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .right_sidebar aside div{
    padding: 10px;
    display: block;
    position: relative;
    margin-top: 200px;
  }
  .right_sidebar aside div::before{
    content: '';
    width: 1px;
    height: 300px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -2px;
    background-color: var(--lightergreen);
  }
  
  /*----------------Right Sidebar---------------------*/
  /*----------------Footer---------------------*/
 
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  /*----------------Footer---------------------*/

  
  
  